@import 'const/colors';
@import 'const/dimensions';
@import 'const/fonts';

html,
body {
  @include set-colors($black-theme);
  @include body-font-family;
  border: 0;
  height: 100%;
  margin: 0;
  width: 100%;
}

h1, h2 {
  @include header-font-family;
  font-size: $header-font-size;
}

.user-view {
  @import 'views/user-view';
}

.logo {
  @import 'components/logo';
}

.white-card {
  @import 'components/white-card';
}

.black-card {
  @import 'components/black-card';
}
