<!DOCTYPE html>

<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8" />
  <title>Inhumane Cards</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body ng-controller="AppCtrl">
  <header>
    <inhumane-cards-logo></inhumane-cards-logo>
  </header>

  <main>
    <player-login ng-if="shouldShowPlayerLogin" on-join-game="updateView()"></player-login>
    <black-card ng-if="!shouldShowPlayerLogin"></black-card>
    <white-cards ng-if="!shouldShowPlayerLogin"></white-cards>
  </main>

  <footer ng-if="shouldShowPlayerLogin">
    <a href="https://github.com/phantomesse/inhumane-cards" target="_blank">
      made with <span class="heart">&hearts;</span> by lauren zou
    </a>
  </footer>

  <script src="/socket.io/socket.io.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="components/inhumane-cards-logo/inhumane-cards-logo.js"></script>
  <script src="components/player-login/player-login.js"></script>
  <script src="components/black-card/black-card.js"></script>
  <script src="components/white-card/white-card.js"></script>
  <script src="components/white-card-badge/white-card-badge.js"></script>
  <script src="components/white-cards/white-cards.js"></script>
</body>

</html>
