<header>
  <button class="menu-button">
    <i class="fas fa-bars"></i>
  </button>

  <h2 class="user-name">user-name</h2>
  <h2 class="game-id">game-id</h2>
</header>

<section class="white-cards"></section>

<section class="menu">
  <header>
    <button class="menu-button">
      <i class="fas fa-times"></i>
    </button>

    <h2>Menu</h2>
  </header>

  <h3>Players</h3>
  <div class="leaderboard">
    <i class="icon"></i>
    <span class="name">Lauren</span>
    <span class="score">5</span>

    <i class="icon fas fa-gavel"></i>
    <span class="name">Lauren</span>
    <span class="score">5</span>

    <i class="icon"></i>
    <span class="name">Lauren</span>
    <span class="score">5</span>

    <i class="icon"></i>
    <span class="name">Lauren</span>
    <span class="score">5</span>
  </div>

  <h3>Session Info</h3>
  <div class="session-info">
    <span class="game-id"></span>
    <button class="share-button">
      <i class="icon fas fa-share"></i>
      Share
    </button>
    <button class="join-new-button">
      <i class="icon fas fa-running"></i>
      New Game
    </button>
  </div>
</section>
