& {
  $padding: $grid * 3;
  box-sizing: border-box;
  padding: $padding $padding / 2 calc(#{$padding} + env(safe-area-inset-bottom));

  &:first-of-type {
    padding-left: calc(#{$padding} + env(safe-area-inset-left));
  }

  &:last-of-type {
    padding-right: calc(#{$padding} + env(safe-area-inset-right));
  }
}

.inner {
  @include set-colors($white-theme);
  border-radius: $border-radius;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: $card-font-size;
  height: 100%;
  justify-content: space-between;
  padding: $card-padding;

  &:hover {
    box-shadow: 0 0 $grid $grid / 2 hotpink;
                //0 0 $grid $grid / 2 red;
  }
}

.logo {
  $width: $grid * 2;
  $height: $width * 3 / 2;
  height: $height;
  width: $width;
}
