main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: space-between;
  padding: env(safe-area-inset-top)
           env(safe-area-inset-right)
           0
           env(safe-area-inset-left);
  width: 100%;

  h2 {
    margin: $grid * 3;
  }
}

.white-cards {
  display: grid;
  grid-template-columns: repeat(7, minmax($grid * 40, 75%));
  overflow-x: auto;
  height: calc(50% + #{$grid * 3});
}
